<!--
	=====================
	Partials/PageBrowser.html
-->
<f:if condition="{numberofresults} > {conf.resultsPerPage}">
	<div class="pages_total">
		<div class="page-navigation kesearch_pagebrowser clearfix">
			<f:format.raw>{pagebrowser.previous} {pagebrowser.pages_list} {pagebrowser.next}</f:format.raw>
		</div>
	</div>
</f:if>