<!--
	=====================
	Partials/ResultRows.html
-->
<div id="kesearch_num_results"><h2>{numberofresults}
	<f:if condition="{numberofresults} == 1">
		<f:then>
			{f:translate(key: 'LLL:EXT:boto_kesearch/Resources/Private/Language/locallang.xlf:num_results_plain_single')}
		</f:then>
		<f:else>
			{f:translate(key: 'LLL:EXT:boto_kesearch/Resources/Private/Language/locallang.xml:num_results_plain')}
		</f:else>
	</f:if>
</h2>
</div>
<f:render partial="Sorting" arguments="{conf: conf, numberofresults: numberofresults, sortingLinks: sortingLinks}" />
<f:if condition="{conf.pagebrowserOnTop}">
	<div id="kesearch_pagebrowser_top"><f:render partial="PageBrowser" arguments="{conf: conf, numberofresults:numberofresults, pagebrowser:pagebrowser}" /></div>
</f:if>
<ul id="kesearch_results" class="nodashlist">
	<f:for each="{resultrows}" as="resultrow">
		<f:render partial="ResultRow" arguments="{conf: conf, resultrow: resultrow}" />
	</f:for>
</ul>
<f:if condition="{conf.pagebrowserAtBottom}">
	<div id="kesearch_pagebrowser_bottom"><f:render partial="PageBrowser" arguments="{conf: conf, numberofresults:numberofresults, pagebrowser:pagebrowser}" /></div>
</f:if>
<f:if condition="{conf.showQueryTime}">
	<div id="kesearch_query_time">{queryTimeText}</div>
</f:if>
