<f:layout name="General" />
<!--
=====================
Templates/ResultList.html

Settings are available via
{conf}
{extConf}
{extConfPremium}
-->
<f:section name="content">
	<f:if condition="{wordsTooShort}">
		<div class="label warning messsage">{f:translate(key: 'LLL:EXT:ke_search/pi1/locallang.xml:searchword_length_error')}</div>
	</f:if>

	<f:if condition="{isEmptySearch}">
		<f:then>
			<f:if condition="{conf.showTextInsteadOfResults}">
				<f:then>
					<f:format.raw>{conf.textForResults}</f:format.raw>
				</f:then>
				<f:else>
					<f:render partial="ResultRows" arguments="{conf: conf, numberofresults: numberofresults, resultrows: resultrows, sortingLinks: sortingLinks, pagebrowser:pagebrowser, queryTime:queryTime, queryTimeText:queryTimeText}" />
				</f:else>
			</f:if>
		</f:then>
		<f:else>
			<f:if condition="{numberofresults} == 0">
				<f:then>
					<f:render partial="NoResults" arguments="{conf: conf, noResultsText: noResultsText}" />
				</f:then>
				<f:else>
					<f:render partial="ResultRows" arguments="{conf: conf, numberofresults: numberofresults, resultrows: resultrows, sortingLinks: sortingLinks, pagebrowser:pagebrowser, queryTime:queryTime, queryTimeText:queryTimeText}" />
				</f:else>
			</f:if>
		</f:else>
	</f:if>
</f:section>
